.globalheader {
    min-height:60px;
    width:94%;
    margin:10px 3% 0px 3% !important;
    border:0px dashed red;
}

.globalheader_logo {
    display:block;
    float:left;
    width:160px;
    font-size:30px;
    border:0px dashed orange;
}


.search_label{
    display:block;
    float:left;
    font-size:12px;
    width:90% !important;
    margin:5px 10px 2px 0px;
    border:0px solid red;
}

.search_examples{
    display:block;
    float:left;
    width:100% !important;
    margin:0px 0px 0px 0px;
    font-size:11px;
}


.search_paper_wrapper{
    display:block;
    float:left;
    width:100% !important;
    border:0px solid red;
}

.filter_div_one{
    display:block;
    float:left;
    min-height:25px;
    padding:20px 10px 10px 10px;
    margin:0px 0px 20px 0px;
    border:1px solid #ddd;
    border-radius:10px;
}

.filter_div_two{
    display:block;
    float:left;
    padding:10px;
    margin:0px 0px 20px 0px;
    border:1px solid #ddd;
    border-radius:10px;
}

.filtericoncn {
    display:block !important;
    float:right:
    width:90%;
    padding:0px 5px 0px 0px;
    margin:0px 5% 3px 5%;
    cursor:pointer;
}


div.filterboxwrapper{
    display:none;
    float:left;
    width:90%;
    margin:20px 5% 0px 5%;
    border:0px dashed orange;
}

.filterbtnscn{
  display:none;
  float:left;
  min-height:25px;
  width:100%;
  padding:20px 10px 10px 10px;
  margin:0px 0px 20px 0px;
  border:0px solid red;
}



div.statscn{
    display:block;
    float:left;
    width:90%;
    margin:0px 5% 0px 5%;
    padding:8px;
    z-index:1;
    font-size:14px;
    border:1px solid #ddd;
    border-radius:5px;
}


div.searchresultscn{
    display:block;
    float:left;
    width:90%;
    margin:5px 5% 500px 5%;
    font-family: 'Montserrat', sans-serif; 
    z-index:1;
    border:0px dashed orange;
}


div.pagecn{
    width:90%;
    margin:0px 5% 500px 5%;
    font-size:15px;
    padding:0px;
    z-index:1;
 }


